html {
    max-width: 1440px;
    min-width: 480px;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    max-width: 1440px;
    min-width: 480px;
    font-family: "Maven Pro";
    color: black;
}

a {
    text-decoration: none;
}

figure {
    margin: 0px;
    padding: 0px;
}

.top-menu-transparent::after{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}