footer {
    position: relative;
    background-color: #0b2a37;
    color: #ffffff;
    padding: 100px 80px 0px;

    .footer_content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;

        .footer_follow_us {
            width: 230px;
            color: #ffffff;

            .footer_social {
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                margin-top: 30px;

                p {
                    margin: 0;
                    font-size: 22px;
                }
            }

            .rights {
                font-size: 14px;
            }
        }

        .footer_lists {
            display: flex;
            flex-wrap: wrap;
            margin-top: 25px;


            .footer_list {
                text-align: left;
                margin-left: 30px;
                min-width: 100px;

                h5 {
                    margin-top: 0px;
                    font-size: 22px;
                    margin-bottom: 40px;
                    color: #ffffff;
                }

                ul {
                    padding: 0;

                    li {
                        list-style: none;
                        color: #ffffff;
                        font-size: 16px;
                        margin-bottom: 15px;

                        a {
                            color: #ffffff;
                        }
                    }
                }

            }
        }
    }
}