.recalls {
    position: relative;
    width: 100%;
    background-color: white;
    text-align: center;

    img {
        position: relative;
        width: 100%;
    }

    h1 {
        color: #0b2a37;
        font-size: 36px;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .massage_all {

        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: relative;

        .massage_client {
            position: relative;
            width: 410px;
            height: 210px;
            margin: 50px 0px;
            text-align: right;

            .massage_block {
                width: 100%;
                max-height: 130px;
                text-align: left;
                background-color: #eff7f7;
                padding: 40px 20px;
                font-size: 16px;
                box-sizing: border-box;
                position: relative;
                margin-bottom: 30px;

                &::after {
                    content: '';
                    position: absolute;

                    width: 0px;
                    height: 0px;
                    border-top: 25px solid #eff7f7;
                    border-left: 35px solid transparent;

                    bottom: -25px;
                    right: 0px;
                }
            }

            img {
                position: absolute;
                width: 50px;
                height: 50px;
                right: 0%;
                bottom: 5px;
            }

            h5, p {
                margin: 0;
                font-size: 16px;
                margin-right: 55px;
            }
        }

    }
}