.specialists {
    position: relative;
    width: 100%;
    background-color: white;
    text-align: center;
    color: #0b2a37;

    h1 {
        font-size: 36px;
        margin-top: 100px;
        margin-bottom: 50px;
    }


    .kategory {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 50px;

        div{
            max-width: 250px;
            min-width: 250px;
            height: 300px;
            margin: 10px;

            figure {
                height: 130px;
                display: flex;

                img {
                    align-self:center;
                    margin: 0 auto;
                }
            }

            h2 {
                font-size: 22px;
            }
        }
    }
}